body {
  background: #061a33;
  color: #cfe6ff;
  font-family: Arial, sans-serif;
  text-align: center;
}

#game {
  max-width: 750px;
  margin: auto;
  padding: 20px;
}

button {
  background: #0b3c78;
  color: white;
  border: none;
  padding: 10px;
  margin: 4px;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background: #125db8;
}

h1, h2 {
  color: #8cc9ff;
}
